/* ./src/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styling */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.brand-color {
    background-color: #38354e;
}

.brand-secondary-color {
    background-color: #060322;
}