/* font size global */

p,
a {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
}


/* custom brand color */

.brand-color {
    background-color: #38354E;
}

.navbar {
    display: flex;
    align-items: center;
}

.brand {
    padding-top: 35px;
    width: 20%;
}

.brand h3 {
    display: none;
}

.container {
    padding-left: 110px;
    padding-right: 110px;
}

.navigation {
    width: 40%;
    display: flex;
    justify-content: space-around;
}


/* Hero Component */

.hero {
    height: 540px;
    background-color: #38354E;
}