.contact
       height: 500px
       background-image: url('../images/testimonial.png')
       background-size: cover
       padding-top: $page-padding - 10
       padding-bottom: $page-padding - 10
       margin-bottom: 100px