.our-story
       height: auto
       padding-left: 140px
       padding-right: 140px
       .paragraph
              font-size: $paragraph
.content-story
       padding-left: $page-padding
       padding-right: $page-padding
       background-color: #060322