.portfolio
       padding-left: 110px
       padding-right: 110px
       background-color: #060322
       h1
              font-family: "Nunito", sans-serif
       .card-image
              img
                     height: 300px
              .category
                     font-size: $paragraph - 7